{% extends 'base.html' %}
{% block content %}

    <div class="menu-container m-2">
        <h5 class="text-muted col-md-6 ">Брэнды</h5>
        <div>
            <button type="button" class="btn add-button" data-bs-toggle="modal" data-bs-target="#addModal">
                <div style="width: 20px">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col" class="col-1"></th>
            <th scope="col" class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.brand_name }}</td>
                <td>
                    <button type="button" class="btn edit-button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="width: 20px">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="m-2" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label>
                                    <p>Название:</p>
                                    <input required name="name" value="{{ brand.brand_name }}">
                                </label>
                                <input type="hidden" name="id" value={{ brand.id_brand }}>
                                <input type="hidden" name="change_type" value="edit">
                                <input type="submit" value="Изменить" class="btn btn-outline-warning">
                            </form>
                        </li>
                    </ul>
                </td>
                <td>
                    <button type="button" class="btn delete-button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="width: 20px">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="m-2" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>Удалить запись?</p>
                                <input type="hidden" name="id" value={{ brand.id_brand }}>
                                <input type="hidden" name="change_type" value="delete">
                                <input type="submit" value="Удалить" class="btn btn-outline-danger">
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Добавить брэнд</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form class="m-2" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ brandForm.as_p }}
                        <input type="hidden" name="change_type" value="add">
                        <input type="submit" value="Добавить" class="btn btn-outline-success">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
