{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="m-2">
        <h5 class="text-muted">Заказы</h5>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addModal">
            <div style="width: 20px">
                <img src="{% static 'media/add_icon.png' %}" class="img-fluid" alt="Responsive image">
            </div>
        </button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Адрес доставки</th>
            <th scope="col">Статус заказа</th>
            <th scope="col">Дата заказа</th>
            <th scope="col">Клиент</th>
            <th scope="col">Торговая точка</th>
            <th scope="col">Изменить</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.order_address }}</td>
                <td>
                    {% if order.order_status == True %}
                        Доставлен
                    {% else %}
                        Не доставлен
                    {% endif %}
                </td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.client }}</td>
                <td>{{ order.sales_point }}</td>
                <td>
                    <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="width: 20px">
                            <img src="{% static 'media/edit_icon.png' %}" class="img-fluid" alt="Responsive image">
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="m-2" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label>
                                    <p>Адрес доставки:</p>
                                    <input required name="address" value={{ order.order_address }}>
                                </label>
                                <label>
                                    <p>Статус заказа:</p>
                                    {% if order.order_status == True %}
                                        <input type="checkbox" name="status" checked>
                                    {% else %}
                                        <input type="checkbox" name="status">
                                    {% endif %}
                                </label>
                                <label>
                                    <p>Дата заказа:</p>
                                    <input required type="date" name="date" value={{ order.order_date|date:'Y-m-d' }}>
                                </label>
                                <label>
                                    <p>Клиент:</p>
                                    <select required name="client">
                                        {% for client in clients %}
                                            {% if client.client_name in order.client and client.client_surname in order.client and client.client_patronymic in order.client %}
                                                <option selected value="{{ client.id_client }}">
                                                    {{ client.client_surname }} {{ client.client_name }} {{ client.client_patronymic }}
                                                </option>
                                            {% else %}
                                                <option value="{{ client.id_client }}">
                                                    {{ client.client_surname }} {{ client.client_name }} {{ client.client_patronymic }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>
                                    <p>Страна:</p>
                                    <select required name="sales_point">
                                        {% for sales_point in sales_points %}
                                            {% if sales_point.sales_point_address == order.sales_point %}
                                                <option selected value="{{ sales_point.id_sales_point }}">
                                                    {{ sales_point.sales_point_address }}
                                                </option>
                                            {% else %}
                                                <option value="{{ sales_point.id_sales_point }}">
                                                    {{ sales_point.sales_point_address }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                                <input type="hidden" name="id" value={{ order.id_order }}>
                                <input type="hidden" name="change_type" value="edit">
                                <input type="submit" value="Изменить"/>
                            </form>
                        </li>
                    </ul>
                </td>
                <td>
                    <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="width: 20px">
                            <img src="{% static 'media/delete_icon.png' %}" class="img-fluid" alt="Responsive image">
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="m-2" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>Удалить запись?</p>
                                <input type="hidden" name="id" value={{ order.id_order }}>
                                <input type="hidden" name="change_type" value="delete">
                                <input type="submit" value="Удалить"/>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Добавить заказ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form class="m-2" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ orderForm.as_p }}
                        <input type="hidden" name="change_type" value="add">
                        <input type="submit" value="Добавить"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
