{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="m-2">
        <h5 class="text-muted">Количество заказов доставленных каждой организацией</h5>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#fileModal">
            <div style="width: 20px">
                <i class="fa-solid fa-floppy-disk"></i>
            </div>
        </button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Организация</th>
            <th scope="col">Количество доставленных заказов</th>
        </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{ organization.name }}</td>
                <td>{{ organization.delivered_orders_amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLabel">Скачать отчет в формате Excel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form class="m-2" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" value="Скачать" class="btn btn-outline-success">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}