{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="menu-container m-2">
        <h5 class="text-muted col-md-6 ">Товары</h5>
        <div>
            <button type="button" class="btn add-button" data-bs-toggle="modal" data-bs-target="#addModal">
                <div style="width: 20px">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </button>
            <button type="button" class="btn filter-button" data-bs-toggle="modal" data-bs-target="#filterModal">
                <div style="width: 20px">
                    <i class="fa-solid fa-filter"></i>
                </div>
            </button>
        </div>
    </div>

    <!-- В случае пустого списка -->
    {% if products|length == 0 %}
        <div class="d-flex justify-content-center mb-1 ">
            <h2 class="text-muted">Записей не найдено :(</h2>
        </div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Тип товара</th>
            <th scope="col">Размер товара</th>
            <th scope="col">Коммерческая организация</th>
            <th scope="col">Брэнд</th>
            <th scope="col">Страна</th>
            <th scope="col" class="col-1"></th>
            <th scope="col" class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.product_type }}</td>
                <td>{{ product.product_size }}</td>
                <td>{{ product.commercial_organization }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.country }}</td>
                <td>
                    <button type="button" class="btn edit-button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="width: 20px">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="m-2" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label>
                                    <p>Тип товара:</p>
                                    <input required name="type" value="{{ product.product_type }}">
                                </label>
                                <label>
                                    <p>Размер товара:</p>
                                    <input required type="number" step="any" name="size"
                                           value="{{ product.product_size }}">
                                </label>
                                <label>
                                    <p>Коммерческая организация:</p>
                                    <select required name="commercial_organization">
                                        {% for organization in commercial_organizations %}
                                            {% if organization.organization_name == product.commercial_organization %}
                                                <option selected value="{{ organization.id_commercial_organization }}">
                                                    {{ organization.organization_name }}
                                                </option>
                                            {% else %}
                                                <option value="{{ organization.id_commercial_organization }}">
                                                    {{ organization.organization_name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>
                                    <p>Брэнд:</p>
                                    <select required name="brand">
                                        {% for brand in brands %}
                                            {% if brand.brand_name == product.brand %}
                                                <option selected value="{{ brand.id_brand }}">
                                                    {{ brand.brand_name }}
                                                </option>
                                            {% else %}
                                                <option value="{{ brand.id_brand }}">
                                                    {{ brand.brand_name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>
                                    <p>Страна:</p>
                                    <select required name="country">
                                        {% for country in countries %}
                                            {% if country.country_name == product.country %}
                                                <option selected value="{{ country.id_country }}">
                                                    {{ country.country_name }}
                                                </option>
                                            {% else %}
                                                <option value="{{ country.id_country }}">
                                                    {{ country.country_name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                                <input type="hidden" name="id" value={{ product.id_product }}>
                                <input type="hidden" name="change_type" value="edit">
                                <input type="submit" value="Изменить"/>
                            </form>
                        </li>
                    </ul>
                </td>
                <td>
                    <button type="button" class="btn delete-button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="width: 20px">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="m-2" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>Удалить запись?</p>
                                <input type="hidden" name="id" value={{ product.id_product }}>
                                <input type="hidden" name="change_type" value="delete">
                                <input type="submit" value="Удалить"/>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Модальное окно добавления записи -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Добавить товар</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form class="m-2" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ productForm.as_p }}
                        <input type="hidden" name="change_type" value="add">
                        <input type="submit" value="Добавить"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно фильтрации списка -->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Отфильтровать товары</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form class="m-2" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="m-3">
                            <label>
                                Тип товара:
                                <input name="type">
                            </label>
                        </div>
                        <div class="m-3">
                            <label>
                                <p>Размер товара:</p>
                                <input type="number" step="any" name="size">
                            </label>
                        </div>
                        <div class="m-3">
                            <label>
                                Коммерческая организация:
                                <select name="commercial_organization">
                                    <option value=""></option>
                                    {% for organization in commercial_organizations %}
                                        <option value="{{ organization.id_commercial_organization }}">
                                            {{ organization.organization_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="m-3">
                            <label>
                                Брэнд:
                                <select name="brand">
                                    <option value=""></option>
                                    {% for brand in brands %}
                                        <option value="{{ brand.id_brand }}">
                                            {{ brand.brand_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="m-3">
                            <label>
                                Страна:
                                <select name="country">
                                    <option value=""></option>
                                    {% for country in countries %}
                                        <option value="{{ country.id_country }}">
                                            {{ country.country_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <input type="hidden" name="change_type" value="filter">
                        <input type="submit" value="Отфильтровать"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


