{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="menu-container m-2">
        <h5 class="text-muted col-md-6 ">Торговые точки</h5>
        <div>
            <button type="button" class="btn add-button" data-bs-toggle="modal" data-bs-target="#addModal">
                <div style="width: 20px">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </button>
            <button type="button" class="btn filter-button" data-bs-toggle="modal" data-bs-target="#filterModal">
                <div style="width: 20px">
                    <i class="fa-solid fa-filter"></i>
                </div>
            </button>
        </div>
    </div>

    <!-- В случае пустого списка -->
    {% if receipts|length == 0 %}
        <div class="d-flex justify-content-center mb-1 ">
            <h2 class="text-muted">Записей не найдено :(</h2>
        </div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Адрес торговой точки</th>
            <th scope="col">Название торговой точки</th>
            <th scope="col">Коммерческая организация</th>
            <th scope="col" class="col-1"></th>
            <th scope="col" class="col-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for sales_point in sales_points %}
            <tr>
                <td>{{ sales_point.sales_point_address }}</td>
                <td>{{ sales_point.sales_point_name }}</td>
                <td>{{ sales_point.fk_id_commercial_organization.organization_name }}</td>
                <td>
                    <button type="button" class="btn edit-button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="width: 20px">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="m-2" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label>
                                    <p>Адрес торговой точки:</p>
                                    <input required name="address"
                                           value="{{ sales_point.sales_point_address }}">
                                </label>
                                <label>
                                    <p>Название торговой точки:</p>
                                    <input required name="name"
                                           value="{{ sales_point.sales_point_name }}">
                                </label>
                                <label>
                                    <p>Коммерческая организация:</p>
                                    <select required name="commercial_organization">
                                        {% for commercial_organization in commercial_organizations %}
                                            {% if sales_point.fk_id_commercial_organization == commercial_organization %}
                                                <option selected
                                                        value="{{ sales_point.fk_id_commercial_organization.id_commercial_organization }}">
                                                    {{ commercial_organization.organization_name }}
                                                </option>
                                            {% else %}
                                                <option value="{{ sales_point.fk_id_commercial_organization.id_commercial_organization }}">
                                                    {{ commercial_organization.organization_name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </label>
                                <input type="hidden" name="id" value={{ sales_point.id_sales_point }}>
                                <input type="hidden" name="change_type" value="edit">
                                <input type="submit" value="Изменить" class="btn btn-outline-warning">
                            </form>
                        </li>
                    </ul>
                </td>
                <td>
                    <button type="button" class="btn delete-button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="width: 20px">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="m-2" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>Удалить запись?</p>
                                <input type="hidden" name="id" value={{ sales_point.id_sales_point }}>
                                <input type="hidden" name="change_type" value="delete">
                                <input type="submit" value="Удалить" class="btn btn-outline-danger">
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Добавить торговую точку</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form class="m-2" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ sales_pointForm.as_p }}
                        <input type="hidden" name="change_type" value="add">
                        <input type="submit" value="Добавить" class="btn btn-outline-success">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно фильтрации списка -->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Отфильтровать заказы</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form class="m-2" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="m-3">
                            <label>
                                <p>Адрес торговой точки:</p>
                                <input name="address"
                                       value={{ sales_point.sales_point_address }}>
                            </label>
                        </div>
                        <div class="m-3">
                            <label>
                                <p>Название торговой точки:</p>
                                <input name="name"
                                       value={{ sales_point.sales_point_name }}>
                            </label>
                        </div>
                        <div class="m-3">
                            <label>
                                <p>Коммерческая организация:</p>
                                <select name="commercial_organization">
                                    <option value=""></option>
                                    {% for commercial_organization in commercial_organizations %}
                                        <option value="{{ commercial_organization.id_commercial_organization }}">
                                            {{ commercial_organization.organization_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <input type="hidden" name="change_type" value="filter">
                        <input type="submit" value="Отфильтровать" class="btn btn-outline-success">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
